[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "0.3.27"
langchain-openai = "0.2.14"
langgraph = "*"
streamlit = "*"
pandas = "*"
pydantic = "*"
pydantic-settings = "*"
python-dotenv = "*"
requests = "*"
httpx = "*"
langfuse = "*"

[dev-packages]

[requires]
python_version = "3.11"
